.option{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 2rem;
    label{
        img{
            width: 20rem;
            margin: auto;
            margin-bottom: 2rem;
        }
        input[type="radio"]{
            transform: scale(1.6);
        }
    }
}